# Ignore everything in this directory
*
# Except these files (if you want to add more files, which should be compatible with all setups, list them here)
!.gitignore
!ge21_gbt0_config.txt
!ge21_gbt1_config.txt

